/* Global styles */

.ArtiSection{
  background: #fff;
  margin-top: 2%;
  padding: 3%;
}
.aarti-container {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;

  background: #f4f4f4;;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#aarti-clock {
  font-family: "Share Tech Mono", monospace;
  color: #333;
  text-align: center;
}

.aarti-time {
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aarti-time img {
height :300px;
width:350px;


}


.aarti-date span {
  font-size: 40px;
  font-weight: bolder;
  border-bottom: 2px solid #edc756;
 color:orange; 
}

.aarti-main-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aarti-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.aarti-heading h1 {
  font-size: 2em;
  color: #333;
  border-bottom: 2px solid #edc756;
  display: inline-block;
  padding-bottom: 10px;
}

.aarti-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.aarti-button {
  background: #edc756;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
  transition: background 0.3s ease, color 0.3s ease;
}

.aarti-button:hover {
  background: rgb(219, 136, 12);
  color: #fff;
}

.aarti-button.active {
  background: rgb(219, 136, 12);
  color: #fff;
}

.aarti-song-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
}

.aarti-song-item {
  transition: box-shadow 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aarti-song-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.aarti-song-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.aarti-icon-container {
  margin-right: 10px;
}

.aarti-song-title {
  font-weight: bold;
  color: #333;
}

.aarti-song-artist {
  font-size: 0.9em;
  color: #999;
}

.aarti-song-actions {
  display: flex;
  gap: 10px;
}

.aarti-song-actions .aarti-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #edc756;
  transition: color 0.3s ease;
}

.aarti-song-actions .aarti-button:hover {
  color: rgb(219, 136, 12);
}
.aarti-pop {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #c82707;
  animation: blink-animation 1s infinite;
  font-weight: bold;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 768px) {
  .aarti-buttons {
    flex-wrap: wrap;
  }
  .aarti-time {
    font-size: 40px;
  }
  .aarti-button {
    font-size: 0.9em;
    padding: 8px 16px;
  }
  .aarti-song-list {
    grid-template-columns: 1fr;
  }
  .aarti-song-item {
    width: 100%;
  }
  .aarti-container {
  
    padding: 30px;
 
  }
  .aarti-pop {
 
    font-size:20px;

  }
  .aarti-time img {
   display: none;
    
    }
}

@media screen and (max-width: 480px) {
  .aarti-time {
    font-size: 28px;
  }
  .aarti-button {
    font-size: 0.8em;
    padding: 6px 12px;
  }
  .aarti-container {
  
    padding: 20px;
 
  }
  .aarti-pop {
 
    font-size:15px;

  }
  .aarti-song-item {
  
    padding: 6px;
   
  }
}


@media screen and (max-width: 1021px) {

  .aarti-time img {
    display: none;
     
     }
}
