
.helpline-section{
    background: #dddddd;
    padding-bottom: 5%;
    padding-top: 0.5%;
}
.helpline_container1{
    margin-top: 90px;
}

.helpline_container1 h2{
    color: #e95009;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 3rem;
    /* margin-top: 2rem; */
    }
    .helpline_container2{
    margin-left: 415px;
    margin-right: 150px;
    }

 .helplinetable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
 .helplinetable thead tr{
    background-color: #f8976a;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.helplinetable th, 
.helplinetable td{
    padding: 12px 15px;

}
.helplinetable tbody tr{
    border-bottom: 1px solid #dddddd;

}
.helplinetable tbody tr:nth-of-type(even){
    background-color: #f8f8f8;
}
.helplinetable tbody tr:last-of-type{
    border-bottom: 2px solid #e98050;
}

@media  screen and (max-width:1440px) {
    .helpline_container1{
        margin-top: 30px;
    }
    .helpline_container2{
        margin-left: 275px;
        
        }
        .helplinetable{
            
            min-width: 900px;
            
        }
}

@media  screen and (max-width:1024px) {
    .helpline_container1{
        margin-top: 30px;
    }
    .helpline_container2{
        margin-left: 205px;
        
        }
        .helplinetable{
            
            min-width: 400px;
            
        }
}

@media  screen and (max-width:768px) {
    .helpline_container1{
        margin-top: 30px;
    }
    .helpline_container2{
        margin-left: 175px;
        
        }
        .helplinetable{
            
            min-width: 200px;
            
        }
}
@media screen and (max-width:428px)
{
    .helpline_container1{
        margin-top: 30px;
    }
    .helpline_container2{
        margin-left: 61px;
        
        }

        .helplinetable{
            
            min-width: 140px;
            
        }

}
@media screen and (max-width:414px)
{
    .helpline_container1{
        margin-top: 30px;
    }
    .helpline_container2{
        margin-left: 55px;
        
        }

        .helplinetable{
            
            min-width: 140px;
            
        }

}

@media  screen and (max-width:390px) {
    .helpline_container1{
        margin-top: 30px;
    }
    .helpline_container2{
        margin-left: 40px;  
        
        }
        .helplinetable{
            
            min-width: 100px;
            
        }
}

@media  screen and (max-width:375px) {
    .helpline_container1{
        margin-top: 30px;
    }
    .helpline_container2{
        margin-left: 25px;  
        
        }
        .helplinetable{
            
            min-width: 100px;
            
        }
}

@media  screen and (max-width:320px) {
    .helpline_container1{
        margin-top: 30px;
    }
    .helpline_container2{
        margin-left: 4px;
        
        }
        .helplinetable{
            
            min-width: 80px;
            
        }
}