
.notice_Sectiobn{
    background: #f8f8f8;
    padding: 5%;
    padding-right: 12%;
}
/* 
.notice_pdf{
    height: 200px;
    
} */
.notice_container1 h2{
    color: #e95009;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
   
 .noticetable{
    border-collapse: collapse;
    margin: 25px 0;
    margin-left: 70px;
    font-size: 1em;
    max-width: 1000px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
 .noticetable thead tr{
    background-color: #f8976a;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.noticetable th, 
.noticetable td{
    padding: 12px 15px;

}
.notice_btn1{
   width: 50px;
   height: 50px;
   color: #e95009;
   border: none;
   font-size: 25px;

}
.notice_btn1 :hover{
    cursor: pointer;
}


.noticetable tbody tr{
    border-bottom: 1px solid #dddddd;

}
.noticetable tbody tr:nth-of-type(even){
    background-color: #f8f8f8;
}
.noticetable tbody tr:last-of-type{
    border-bottom: 2px solid #e98050;
}
